@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --deep-blue: #0B25B7;
  --black: #1F1F20;
  --pale-blue: #D7E4F2;
  --pale-coral: #EAD0CA;
  --yellow: #FFCE00;
  --spacing: 350px;
  font-family: "Brice", sans-serif;
  font-style: "Semibold";
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: "Brice", sans-serif;
  font-style: "Semibold";
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    text-align: center;
    margin-top: 10rem;
  }

  nav{
    width: 100vw;
    height: 15vh;
    background-color: rgba(12,36,183, 0.5);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
  }

  .logo-header{
    width: 15rem;
    height: auto;
  }

  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }

  li{
  list-style-type: none;
  font-size: 1.5rem;
  }

  li:hover{
    cursor: pointer;
    color: black;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  div {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    font-family: "Satoshi", sans-serif;
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1.5;
  }

  .yellow-span{
    color: var(--yellow);
  }

  #introducing {
    grid-column: 3 / 11;
    text-align: center;
    padding-top: 5rem;
  }

  .perfect{
    font-size: 4rem;
  }

  .take-care{
    font-size: 2rem;
  }

  .animation{
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 80vh;
    margin: 0rem auto 2rem auto;
    grid-column: 1 / -1;
  }

  video{
    width: 20rem;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 8px black);
  }

  h2{
    grid-column: 1 / -1;
    font-size: 4rem;
    margin: 0 auto;
  }

  .campaign-video{
    border-radius: 10px;
    margin: 5rem auto 3rem auto;
    width: 70rem;
    height: 40rem;
    display: block;
    grid-column: 3 / 11;
  }

  .read-more{
    display: block;
    grid-column: 4 / 10;
    font-size: 2rem;
    text-align: center;
  }

  .here{
    text-decoration: underline;
  }

  .here:hover{
    color: blue;
  }

  footer{
    width: 100vw;
    height: 20vh;
    background-color: rgba(12,36,183, 0.1);
    z-index: 100;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo{
    width: 20rem;
    height: auto;
    position: absolute;
  }


/* media query 500*/

  @media only screen and (max-width: 500px){
    main {
      width: 100vw;
      color: white;
      z-index: 99;
      position: relative;
      width: 100%;
      margin: 0px auto;
      padding: 120px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
    }
    
    h1, h2, h3, blockquote {
      font-family: "Brice", sans-serif;
      font-style: "Semibold";
    }
    
    canvas {
      position: fixed;
      top: 0;
      left: 0;
    }
    
    
    
      header {
        background: none;
        font-size: 2.5rem;
        grid-column: none;
        padding: 0;
        margin-bottom: var(--spacing);
        text-align: center;
        margin-top: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .my-h1{
        background: var(--dark-bg);
        display: block;
        text-align: center;
        width: 30%;
        height: auto;
        position: relative;
        margin: 0 auto;
        padding: 6rem;
        font-size: 2rem;
        border-radius: 10px;
      }
    
      nav{
        width: 100%;
        height: 15vh;
        background-color: rgba(12,36,183, 0.5);
        z-index: 100;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        
      }
    
      .logo-header{
        width: 10rem;
        height: auto;
      }
    
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        padding: 2rem;
      }
    
      li{
      list-style-type: none;
      font-size: 1rem;
      }
    
      li:hover{
        cursor: pointer;
        color: black;
      }
    
      section {
        grid-column: none;
        padding: 1rem;
        background: var(--dark-bg);
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: var(--spacing);
      }
    
      div {
        margin: 0 auto;
        padding: 0;
        grid-column: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--spacing);
        font-family: "Satoshi", sans-serif;
        width: 80%;
      }
    
      blockquote p {
        color: black;
        background-color: white;
        font-size: 4rem;
        display: inline;
        line-height: 1.5;
      }
    
      .yellow-span{
        color: var(--yellow);
      }
    
      #introducing {
        grid-column: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 5rem;
        font-size: 2rem;
        width: 90%;
      }
    
      .perfect{
        font-size: 3rem;
      }
    
      .take-care{
        font-size: 2rem;
      }
    
      .animation{
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 150vh;
        margin: 0rem auto 2rem auto;
        grid-column: none;
      }
    
      video{
        width: 20rem;
        height: auto;
        border-radius: 10px;
        filter: drop-shadow(2px 4px 8px black);
      }
    
      h2{
        grid-column: none;
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
      }

      h3{
        font-size: 1.5rem;
      }

      h4{
        font-size: 1rem;
      }
    
      .campaign-video{
        border-radius: 10px;
        margin: 5rem auto 0rem auto;
        width: 100%;
        height: auto;
        display: block;
        grid-column: 3 / 11;
      }
    
      .read-more{
        display: block;
        grid-column: 4 / 10;
        font-size: 2rem;
        text-align: center;
      }
    
      .here{
        text-decoration: underline;
      }
    
      .here:hover{
        color: blue;
      }
    
      footer{
        width: 110%;
        height: 30vh;
        background-color: rgba(12,36,183, 0.5);
        z-index: 100;
        position: absolute;
       
        align-items: center;
        justify-content: center;
        
      }
    
      .logo{
        width: 15rem;
        height: auto;
        position: relative;
      }
  }


  /* media query 500*/

  @media only screen and (max-width: 1000px){
    main {
      width: 100vw;
      color: white;
      z-index: 99;
      position: relative;
      width: 100%;
      margin: 0px auto;
      padding: 120px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
    }
    
    h1, h2, h3, blockquote {
      font-family: "Brice", sans-serif;
      font-style: "Semibold";
    }
    
    canvas {
      position: fixed;
      top: 0;
      left: 0;
    }
    
    
    
      header {
        background: none;
        font-size: 2.5rem;
        grid-column: none;
        padding: 0;
        margin-bottom: var(--spacing);
        text-align: center;
        margin-top: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .my-h1{
        background: var(--dark-bg);
        display: block;
        text-align: center;
        width: 30%;
        height: auto;
        position: relative;
        margin: 0 auto;
        padding: 6rem;
        font-size: 2rem;
        border-radius: 10px;
      }
    
      nav{
        width: 100%;
        height: 15vh;
        background-color: rgba(12,36,183, 0.5);
        z-index: 100;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        
      }
    
      .logo-header{
        width: 10rem;
        height: auto;
      }
    
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        padding: 2rem;
      }
    
      li{
      list-style-type: none;
      font-size: 1rem;
      }
    
      li:hover{
        cursor: pointer;
        color: black;
      }
    
      section {
        grid-column: none;
        padding: 1rem;
        background: var(--dark-bg);
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: var(--spacing);
      }
    
      div {
        margin: 0 auto;
        padding: 0;
        grid-column: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--spacing);
        font-family: "Satoshi", sans-serif;
        width: 80%;
      }
    
      blockquote p {
        color: black;
        background-color: white;
        font-size: 4rem;
        display: inline;
        line-height: 1.5;
      }
    
      .yellow-span{
        color: var(--yellow);
      }
    
      #introducing {
        grid-column: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 5rem;
        font-size: 2rem;
        width: 70%;
      }
    
      .perfect{
        font-size: 4rem;
      }
    
      .take-care{
        font-size: 2rem;
      }
    
      .animation{
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 150vh;
        margin: 0rem auto 2rem auto;
        grid-column: none;
      }
    
      video{
        width: 20rem;
        height: auto;
        border-radius: 10px;
        filter: drop-shadow(2px 4px 8px black);
      }
    
      h2{
        grid-column: none;
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
      }

      h3{
        font-size: 1.5rem;
      }

      h4{
        font-size: 1rem;
      }
    
      .campaign-video{
        border-radius: 10px;
        margin: 5rem auto 0rem auto;
        width: 70%;
        height: 50vh;
        display: block;
        grid-column: none;
      }
    
      .read-more{
        display: block;
        grid-column: 4 / 10;
        font-size: 2rem;
        text-align: center;
      }
    
      .here{
        text-decoration: underline;
      }
    
      .here:hover{
        color: blue;
      }
    
      footer{
        width: 100%;
        height: 30vh;
        background-color: rgba(12,36,183, 0.5);
        z-index: 100;
        position: absolute;
        
        align-items: center;
        justify-content: center;
        
      }
    
      .logo{
        width: 15rem;
        height: auto;
        position: absolute;
      }
  }